<LinkTo @route="projects.show" @model={{1}}>Projects</LinkTo>

<button {{on "click" this.createProject}}>Create Project</button>

{{#each this.projects as |project|}}
  <h2>Project</h2>
  <p>Name: {{project.name}}</p>
  <p>Description: {{project.description}}</p>

  <h3>{{project.document.constructor.modelName}}</h3>
  <p>Unit:
    {{project.document.unit}}
    <button
      {{on "click" (fn this.increment project.document)}}
    >Increment</button>
  </p>
{{/each}}

{{outlet}}